---
layout: default
title: "Resume"
description: ""
---
<div class="about {% if site.scrollappear_enabled %}scrollappear{% endif %}">
<object data="{% asset 'CV.pdf' @path %}#toolbar=0&navpanes=0&scrollbar=0"  width="100%" height="1000" type='application/pdf'/>
</div>
<!--
<div class="about {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <img src="{% asset 'about.jpg' @path %}" alt="About Nielsen Ramon header image" />
  <h1>About me</h1>
  <p>
    My name is Andrea Baldan, I am a software engineer, currently focusing on
    Python on my day to day job, working mainly on IoT software and cloud
    architectures. Passionate about programming, particularly on the topic of
    distributed and concurrent systems, constantly looking forward to extend
    my knowledge.
  </p>
</div>
-->
