/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap&') */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
h1 {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 3.8em;
    letter-spacing: 3px
}

.psub {
    font-size: .8em;
    font-weight: 400;
}

img[src*="#content-image"] {
    width: 100%;
}

img[src*="#content-image-1"] {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#blog-group {
	margin-left: 30px;
}

body	{
	margin-top: 0px;
	padding:0;
	/* font-family: 'Cutive Mono', serif; */
	font-family: 'Roboto', serif;
	font-size:100%;
	line-height:150%;
}

.date {
	font-family: "source code pro", monospace;
}

a:link, a:visited	{
	text-decoration: none;
	color:#000
}
/**/
/* a:hover	{ */
/* 	/* text-decoration: underline; */ */
/* } */

.highlight {
	background-color: #f10101;
}

.highlight pre {
	padding: 24px;
	background-color: #f8f8f8;
	overflow-x: scroll;
}

code {
	font-size: 1em;
}

hr {
    height: 0.5px;
    border-width:0;
    color:black;
    background-color:black
}

.s, .cm, .c1 {
    color: grey
}

.k, .kn, .kt {
    font-weight: 700
}

.mi {
    color: darkgray
}


#main {
	width: 50%;
	margin: 0 auto;
}

#nav {
	text-align:center;
	margin:auto;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom: 1px solid #000;
}

#content-left {
	text-align:justify;
	text-justify: inter-word;
	margin:auto;
	padding-top:5px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#content {
	text-align:center;
	margin:auto;
	margin-top:20px;
	padding-top:20px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#footer {
	text-align:center;
	margin:auto;
	font-size:0.8em;
	margin-bottom:10px;
	padding-bottom:10px;
	border-top: 1px solid #000;
}

#logo	{
	text-align:center;
	margin: 20px auto 20px auto;
}

#logo img {
	max-width: 50%;
}

#content-left a:link, #content-left a:visited	{
	text-decoration: none;
	color:#00a
}

/* #content-left a:hover	{ */
/* 	text-decoration: none; */
/* } */

/* #post-short a:link, #post-short a:visited	{ */
/* 	text-decoration: none; */
/* 	color:#000 */
/* } */

/* #post-short a:hover	{ */
/* 	text-decoration: underline; */
/* } */

/* #post-short h3, #post h2	{ */
/* 	margin-bottom: 0px; */
/* } */

#post-short i	{
	font-size:0.8em;
	color: grey;
}

#post i	{
	font-size:0.9em;
	color: grey;
}

#categories a, #categories a:link, #categories a:visited {
	background-color: #b0e0e6;
	text-decoration: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 25px;
}

#categories a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 850px) {
	#main {
		width: auto;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}

	#logo img {
		max-width: 80%;
	}

	#nav {
		font-size: 1.4em;
		padding-bottom: 0.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}

}

@media screen and (max-width: 400px) {
	#main {
		width: auto;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}

	#logo img {
		max-width: 80%;
	}

	#nav {
		font-size: 1.0em;
		padding-bottom: 0.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}

}
